.carousel{
position: relative;
animation: movebtn 4s ease;
    margin: 0 auto;
    margin-top: 100px;
    width: 1000px;
    position: relative;
        overflow: hidden;
    border-radius: 50%;
}

body{
    background: linear-gradient (rgb(51, 156, 94), rgb(51, 156, 94),  rgb(255, 224, 0), rgb(51, 156, 94), rgb(51, 156, 94), rgb(255, 224, 0),rgb(255, 224, 0)
        background-size: 300% 300%;
        animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
            background-size: 300% 300%;
            background-position: 0% 0%;
    }
    100% {
        background-size: 300% 300%;
        background-position: 0% 0%;
    }
}

.social-icon:hover {
    background-color: #339c5e;
}

.social-icon {
    height: 2em;
    width: 2em;
}

.rainbow-icon {
    height:2em;
    width: 2em;
}

.rainbow-icon:hover {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

.card {
    padding: 15px;
    align: center;
 }

 .header {
    background-color: white;
    padding: 15px 15px 5px 15px;
}
.Welcome {
    text-align: center;
}

.img {
    width: 100%;
}

.szimg {
    width: 50%;
}
