.carousel{
position: relative;
animation: movebtn 4s ease;
    margin: 0 auto;
    margin-top: 100px;
    width: 1000px;
    position: relative;
        overflow: hidden;
}

.back{
    background: linear-gradient(red, yellow, green, red, blue, purple);
    background-size: 600% 600%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient{
    0%{
        background-size: 300% 300%;
        background-postion: 0% 0%;
    }

    50%{
        background-size: 300% 300%;
        background-postion: 500% 500%;
    }
    100%{
        background-size: 600% 600%;
        background-postion: 0% 0%;
    }
}
.social-icon:hover {
    background-color: #339c5e;
}

.social-icon {
    height: 2em;
    width: 2em;
}

.rainbow-icon {
    height:2em;
    width: 2em;
}

.rainbow-icon:hover {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

.card {
    padding: 15px;
    align: center;
 }

 .header {
    background-color: white;
    padding: 15px 15px 5px 15px;
}
.Welcome {
    text-align: center;
}

.img {
    width: 100%;
}

.szimg {
    width: 50%;
}
